:root {
  --vp-c-brand-1: #1976d2;
  --vp-c-brand-2: #125cab;
  --vp-c-brand-3: #4da3ff;
  --vp-c-brand-soft: rgba(25, 118, 210, 0.12);

  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f6;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f6;

  --vp-c-text-1: #212121;
  --vp-c-text-2: #4a4a4a;
  --vp-c-text-3: #757575;
}

[data-theme="dark"] {
  --vp-c-brand-1: #79b8ff;
  --vp-c-brand-2: #5aa2ff;
  --vp-c-brand-3: #6ba8ff;
  --vp-c-brand-soft: rgba(121, 184, 255, 0.18);

  --vp-c-bg: #1f1f1f;
  --vp-c-bg-alt: #1a1a1a;
  --vp-c-bg-elv: #262626;
  --vp-c-bg-soft: #1a1a1a;

  --vp-c-text-1: #f2f2f2;
  --vp-c-text-2: #c4c4c4;
  --vp-c-text-3: #9a9a9a;
}
